---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{https://scholar.google.com/citations?hl=zh-CN&user=gzVTtdwAAAAJ#d=gsc_md_iad&t=1722777789314&u=%2Fcitations%3Fview_op%3Dimport_lookup%26hl%3Dzh-CN%26imq%3Dyu%2520yue%252C%2520guoqiang%2520li%252C%2520INDIN%26json%3D%26btnA%3D1}}">my Google Scholar profile</a>.</div>
{% endif %}
#site.author.googlescholar

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



